{
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": true
}
